<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <a class="navbar-brand" href="http://localhost:8080">Currency price API</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="http://localhost:8080/Dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/users/purchase">Purchase</a>
            </li>
        </ul>
        <a class="nav-link" href="http://localhost:8080/users/lgrg">Login/Register</a>
    </div>
</nav>
<div class="row partin">
    <div class="col-lg-8 jb">
        <div class="jumbotron">
            <h1 class="display-3">API detailes</h1>
            <p class="lead">Use this method to get the data from server</p>
            <hr class="my-4">
            <h4 class="display-6">Body of POST request:</h4>
            <pre style="color:#18bc9c;">
body:
{
    key:your key, //required
    name:currency name, //required
    date:YYYY/M/D, //not required
    between:YYYY/M/DtoYYYY/M/D, //not required
}</pre>
            <hr class="my-4">
            <h4 class="display-6">Key:</h4>
            <pre style="color:#18bc9c;">your RSA Key, for getting your key just submit on button down below.</pre>
            <form>
                <button style="margin-bottom: 20px;" type="submit" class="btn btn-primary">Submit</button>
                <div class="form-group">
                    <label for="exampleTextarea">RSA Key:</label>
                    <textarea class="form-control" id="exampleTextarea" rows="3"
                        style="margin-top: 0px; margin-bottom: 0px; height: 83px;"></textarea>
                </div>

            </form>
            <hr class="my-4">
            <h4 class="display-6">Date:</h4>
            <pre style="color:#18bc9c;margin-bottom: 20px;">this is a date format, for example: 1399/9/9.</pre>
            <hr class="my-4">
            <h4 class="display-6">Between:</h4>
            <pre
                style="color:#18bc9c;margin-bottom: 20px;">for cropping data between two date, for example: 1399/9/9to1399/8/3.</pre>
        </div>
    </div>
    <div class="col-lg-4 ">
        <div class="jumbotron ">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#About">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Reference">Reference</a>
                </li>

            </ul>
            <div id="myTabContent" class="tab-content jb">
                <div class="tab-pane fade show active jj" id="About">
                    <p>
                        Raw denim you probably haven't heard of them jean shorts Austin.
                        Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache
                        cliche tempor, williamsburg carles vegan helvetica. Reprehenderit
                        butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi,
                        qui irure terry richardson ex squid. Aliquip placeat salvia cillum
                        iphone. Seitan aliquip quis cardigan american apparel, butcher
                        voluptate nisi qui.
                    </p>
                </div>
                <div class="tab-pane fade jj" id="Reference">
                    <p>
                        Food truck fixie locavore, accusamus mcsweeney's marfa nulla
                        single-origin coffee squid. Exercitation +1 labore velit, blog
                        sartorial PBR leggings next level wes anderson artisan four loko
                        farm-to-table craft beer twee. Qui photo booth letterpress, commodo
                        enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum
                        PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus
                        mollit.Raw denim you probably haven't heard of them jean shorts Austin.
                        Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache
                        cliche tempor, williamsburg carles vegan helvetica. Reprehenderit
                        butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi,
                        qui irure terry richardson ex squid. Aliquip placeat salvia cillum
                        iphone. Seitan aliquip quis cardigan american apparel, butcher
                        voluptate nisi qui.PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus
                        mollit.Raw denim you probably haven't heard of them jean shorts Austin.
                        Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache
                        cliche tempor, williamsburg carles vegan helvetica. Reprehenderit
                        butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi,
                        qui irure terry richardson ex squid. Aliquip placeat salvia cillum
                        iphone. Seitan aliquip quis cardigan american apparel, butcher
                        voluptate nisi qui.
                    </p>
                </div>

            </div>
        </div>
    </div>